/* GERAL */

.card {
    background-color: #1B263B;
    max-width: 200px;
    border-radius: 4px;
    overflow: hidden;
    color: #E0E1DD;
    box-shadow: 2px 2px 4px #0c111a;
}

/* IMAGEM */

.card > img {
    /*width: 200px;*/
    width: 100%;
}

/* INFORMAÇOES */

.info{
    padding: 5px;
}

/* NOME */

.info > h3 {
    font-size: 0.8750em;
}

/* DESCONTO */

.discount {
    display: inline-block;
    padding: 4px;
    border-radius: 2px;
    font-weight: 600;
    width: 20%;
    background-color: #FF6666;
}

/* PREÇO */

.price {
    text-align: center;
    display: inline-block;
    background-color: #415A77;
    color: #E0E1DD;
    padding: 4px;
    border-radius: 2px;
    font-weight: 600;
    width: 69%;
    text-decoration: none;
}