#main-index {
    padding: 0px 65px;
    margin-bottom: 35px;
}

#banner {
    margin-top: 90px;
    overflow: hidden;
    max-width: 840px;
    max-height: 470px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 2px 2px 5px #060d14;
    z-index: 1;
}

#banner > img {
    width: 100%;
}

#banner > h2 {
    position: absolute;
    bottom: 28px;
    left: 15px;
    font-size: 2em;
}

.discount-banner {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: inline-block;
    padding: 4px;
    border-radius: 2px;
    font-weight: 600;
    width: 40px;
    text-align: center;
    background-color: #FF6666;
}

.price-banner {
    position: absolute;
    bottom: 15px;
    left: 68px;
    text-align: center;
    display: inline-block;
    background-color: #415A77;
    color: #E0E1DD;
    padding: 4px;
    border-radius: 2px;
    font-weight: 600;
    width: 140px;
    text-decoration: none;
}

.products-dock {

}

.products-dock-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-dock-title h2 {
    color: #E0E1DD;
    font-size: 2em;
}

.products-dock-title a {
    display: block;
    padding: 9px;
    color: #E0E1DD;
    font-size: 0.9em;
    font-weight: 600;
    background-color: #415A77;
    border-radius: 2px;
    border: 1px solid #5d6875;
    text-decoration: none;
}

.products-dock-content{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden; 
    gap: 30px;
}
